.a-gameOver {
  text-align: center;
}
  .a-gameOver--instruction {
    animation: a-gameOver--instruction 1s ease-in-out 0s infinite alternate both;
    bottom: 2rem;
    left: 0;
    line-height: 2;
    padding: 0.5em 0.75em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  .a-gameOver--highscore {
    animation: a-gameOver--highscore 2s linear 0s infinite alternate both;
  }
  .a-gameOver--highscoreLabel,
  .a-gameOver--scoreLabel {
    vertical-align: middle;
  }
  .a-gameOver--highscoreValue,
  .a-gameOver--scoreValue {
    font-family: FiraCodeMedium, monospace;
    font-weight: 500;
    vertical-align: middle;
  }
  .a-gameOver--scoreValue {
    font-size: 2em;
  }
  .a-gameOver--isHighscore {
    animation: a-gameOver--highscore 2s ease-in-out 0s infinite alternate both;
    text-transform: uppercase;
  }
  .a-gameOver--scores {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .a-gameOver--scores > * {
    flex: 0 0 auto;
  }
  .a-gameOver--scores > * + * {
    margin-left: 2em;
  }

@keyframes a-gameOver--instruction {
  0% {
   opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes a-gameOver--highscore {
  0% {
    color: hsl(360, 100%, 50%);
  }
  50% {
    color: hsl(240, 100%, 50%);
  }
  100% {
    color: hsl(360, 100%, 50%);
  }
}
