.a-game {
  max-width: none;
  overflow: hidden;
  position: relative;
}
  .a-game-blanked::after {
    background-color: #000000;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .a-game--status {
    bottom: 0;
    display: flex;
    left: 0;
    opacity: 0;
    padding: 1em;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
    .a-game--status-active {
      opacity: 1;
    }
  .a-game--status > * {
    background-color: #000000;
    color: #FFFFFF;
    flex: 0 1 auto;
    font-family: RobotoLight;
    font-size: 0.75em;
    font-weight: 300;
    padding: 1em;
  }
  .a-game--status > * + * {
    margin-left: 0.5em;
  }
  .a-game--statusReact {
    font-family: RobotoBold;
    font-weight: 700;
    opacity: 0;
    text-transform: uppercase;
    transition: opacity 1s linear;
  }
    .a-game--status-react .a-game--statusReact {
      opacity: 1;
      transition: opacity 0s linear;
    }
  .a-game--toast {
    animation: a-game--toast--in 0.5s ease 0s 1 normal both;
    background-color: #000000;
    bottom: 0;
    color: #FFFFFF;
    font-family: RobotoLight;
    font-weight: 300;
    left: 50%;
    padding: 1em;
    position: absolute;
    transform: translateX(-50%);
  }
  .a-game--toast[aria-hidden="true"] {
    animation: a-game--toast--out 0.5s ease 0s 1 normal both;
  }
  .a-game--toast strong {
    font-family: FiraCodeMedium, monospace;
    font-size: 2em;
    font-weight: 500;
    vertical-align: middle;
  }
  .a-game--toasts {
    bottom: 1em;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  @keyframes a-game--toast--in {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(2em);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }

  @keyframes a-game--toast--out {
    0% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-50%) translateY(-2em);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    @keyframes a-game--toast--in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes a-game--toast--out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
