.a-game {
  max-width: 100%;
  position: relative;
}
  .a-game--score {
    bottom: 0;
    font-family: FiraCodeRegular, monospace;
    font-size: 2em;
    left: 0;
    line-height: 1;
    padding: 1em;
    position: absolute;
    text-align: center;
    width: 100%;
  }
